.content {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6em;
  font-size: 1rem;
  font-family: "Spectral", serif;
}

body {
  background-color: darkseagreen;
  min-width: 280px;
}
